@import url('https://fonts.googleapis.com/css2?family=Acme&family=Changa:wght@200;300;400;500;600;700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;1,100;1,200;1,300;1,400;1,500&family=Roboto:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500&display=swap');
/* 
font-family: 'Acme', sans-serif;
font-family: 'Changa', sans-serif;
font-family: 'Poppins', sans-serif;
font-family: 'Roboto', sans-serif;
*/
:root {
    --dark-pink-one: #E02C6D;
    --dark-two: #201241;
    --main-color: #4c24c2cc;
    --light-one: rgb(240, 239, 239);
    --light-two: #f9fafb;
    --light-three: #f6f7fb;
  }



*{
    margin: 0;
    pad: 0;
    box-sizing: border-box;
}
body{
    font-family:'Poppins', sans-serif;
}
/*-------------------
    Universal Style
 -------------------- */

a{
    text-decoration: none;
}

li{
    list-style: none;
}
.container{
    width: 85rem;
    margin:10px auto;
    /* background-color: aqua; */
}
/*-------------------
    Header-Navigation
 -------------------- */

.header-container{
    display: flex;
    justify-content: space-between;
    padding:10px 30px;
    align-items: center;
    height: 80px;
    position: relative;
}

/* .menu-bar{
    display: none;
    position: relative;
    
    font-size: 25px;
} */

.menu-bar,input{
    display: none;
    position: absolute;
    left: 10px;
    top: 29px;
    font-size: 20px;
}
#nav-toggle{
    margin: 3px;
   opacity: 0;
}

.nav-list ul{
    display: flex;
    transition: all .5s;
}

.nav-list ul li{
    margin-right: 20px;
    padding: 5px 15px;
    transition: all .5s;   
}
.nav-list ul li a{
    color: black;
    padding: 5px 5px;
    
}

.nav-item:hover{
    background-color: var(--light-one);
    border-radius: 3px;
}
/*-------------------
    Header-section
 -------------------- */
.top-section{
    height: calc(90vh - 80px);
    display: grid;
    grid-gap: 20px;
    grid-template-columns: repeat(2,1fr);
    justify-items: center;
    transition: all .5s;
}
.top-section:hover .top-section-right img {
    animation: imgSclaing 5s infinite ;
}

.top-section-left{
    display: flex;
    flex-direction: column;
    padding-left: 30px;
    justify-content: center;
    align-items: flex-start;
    width: 100%;
}
.top-section-left h1{
    font-size: 40px;
    padding: 20px;
}
.top-section-left p{
    padding: 0px 20px;
    line-height: 1.7em;
    margin-bottom: 10px
}
.top-section-left a{
    margin-left: 20px;
    margin-top: 16px;
    padding: 10px 20px;
    display: flex;
    width: 200px;
    height: 45px;
    border-radius: 25px;
    color: whitesmoke;
    background-color: var(--dark-pink-one);
    align-items: center;
    transition: all .5s;
}

.top-section-left a:hover{
    background-color: #f03f80;
}

.top-section-left a i{
    margin-left: 15px;
}
.top-section-right img{
    width: 520px;
    height: 450px;
    position: relative;
    top: 60px;
    left: 60px;
    transition: all .5s;
}

/*-------------------
    top company
 -------------------- */

 .title{
     margin: 10px 10px;
 }
 .title h2{
     text-transform: uppercase;
     font-size: 24px;
     color: var(--dark-pink-one);
 }
/*-------------------
    Collection-section
 -------------------- */
 .companies{
     display: grid;
     grid-template-columns: repeat(7,1fr);
     grid-gap: 20px;
     padding: 30px;
     margin: 10px;
     justify-items: center;
    border: 1px solid rgb(179, 178, 178);
    box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.15);
 }
 .company{
     margin-left: 10px;
     width: 150px;
     height: auto;
    }



.collection-section{
    margin-top: 70px;
}
.collection-title{
    margin-left: 65px;
}
 .all-items{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-row-gap: 30px;
    grid-column-gap: 20px;
    padding: 10px;
    justify-items: center;
}
 .item{
    width: 329px;
    height: 486px;
    padding: 15px;
    border-radius: 10px;
    background-color: azure;
    box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.15);
    cursor: pointer;
    transition: all .5s;
    
 }

 .item:hover{
    transform: translateY(-5px);
 }
 .item-info{
     padding-bottom: 10px;
 }
.item-info h3{
    font-weight: 400;
    font-size: 28px;
    margin-top: 10px;
}
.price{
    font-size: 24px;
}

.item-info p,
.item-info i{
    margin-top: 5px;
}
.rating i{
    color: #e2bc3f;
    margin-right: 2.5px;
}
 .item-img img{
    width: 300px;
    height: 256px;
 }
.arrow{
    position: relative;
}

.arrow a{
    position: absolute;
    top: 15px;
    right: 70px;
    color: var(--dark-pink-one);
}


/* Gallery */

.gallery-title{
    margin-top: 90px;
    /* margin-left: 65px; */
    text-align: center;
}

.img-list{
    width: 100%;
    display: flex;
    justify-content: space-around;
    flex-flow: wrap;
   

}
.img-bg{ 
    position: relative;
    width: 350px;
    height: 300px;
    overflow: hidden;
    border-radius: 30px;
    margin: 15px 20px;
    cursor: pointer;
}

.img-bg h3{
    position: absolute;
    color: #f9fafb;
    text-transform: uppercase;
    bottom:-50px;
    left: 30px;
    letter-spacing: 4px;
    font-weight: 400;
    transition: all .8s;
}
.img-bg:after{
    content: "";
    position: absolute;
    background-color: #f785af80;
    width: 500px;
    height: 500px;
    top:50%;
    left:50%;
    transform: translate(-150%,-50%);
    /* opacity: 0; */
    border-radius: 50%;
    transition: all .8s;
}

.img-bg:hover:after{
    transform: translate(-50%,-50%);
    /* opacity:1; */
}
.img-bg:hover img{
    transform: scale(1.15);   
}
.img-bg:hover h3{
    bottom:30px;
    z-index: 999;
}

.img-bg img{
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: 30px;
    transition: all .8s;
}

footer{
    width: 100%;
    background-color: var(--dark-two);
    padding: 30px;
    color: whitesmoke;
}
.footer-section{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.footer-section h3{
    font-weight: 400;
    font-size: 25px;
    margin: 5px 0;
}
.footer-section p{
    font-size: 15px;
    margin: 2px 0;
}

.socia-media{
    display: flex;
    align-items: center;
    margin-top: 8px;
}
.socia-media a{
    color: whitesmoke;
    padding:10px 15px;
    background-color: var(--main-color);
    border-radius: 5px;
    font-size: 20px;
    border: .5px solid var(--main-color);
    margin: 5px 10px;
    transition: all .5s;
}
.socia-media a:hover{
    background-color: var(--dark-two);
    border: .5px solid var(--main-color);
    margin: 5px 10px;
}
/*------------------
Resposive Media Quries 
 -------------------*/

 /* Mobile Device*/
 @media only screen and (max-width: 688px)  {
    .container{
        width: 100%;
    }
    .header-container{
        justify-content: center;
    }
    /* .menu-bar>*{
        display: inline;
    } */

    .menu-bar,input{
        display: block;
    }
    .nav-list ul{
        display: none;
        transition: all .8s;
    }
    #nav-toggle:checked ~ .nav-list ul{
        display: flex;
        flex-direction: column;
        position: absolute;
        align-items: center;
        background-color: #40e0d0c2;
        top: 56px;
        left: 2px;
        z-index: 999;
        width: 100%;
        transition: all .8s;
    }
    .top-section,.all-items{
        grid-template-columns:1fr;
        height: fit-content;
        width: 100%;
    }
    .top-section-left p{
        text-align: justify;
    }
    .top-section-left h1{
        font-size: 28px;
    }
    .top-section-right img{
       width: 250px;
       height: auto;
        top: 0px;
        left: 0px;
    }
    .top-section-left{
        order: 2;
        padding: 0;
    }

    .top-company{
        margin-top: 100px;
    }

    .title{
        display: flex;
        justify-content: center;
    }
    .companies{
        display: grid;
        grid-template-columns: repeat(2,1fr);
    }
    .company{
        margin-left: 8px;
    }

    .all-items{
        justify-items: center;
    }
}

 /* Tables */

 @media screen and (min-device-width: 689px) and (max-device-width: 992px)  {
    .container{
        width: 100%;
    }
    .header-container{
        justify-content: center;
    }
    .menu-bar,input{
        display: block;
    }
    .nav-list ul{
        display: none;
        transition: all .8s;
    }
    #nav-toggle:checked ~ .nav-list ul{
        display: flex;
        flex-direction: column;
        position: absolute;
        align-items: center;
        background-color: #40e0d0c2;
        top: 56px;
        left: 2px;
        z-index: 999;
        width: 100%;
        transition: all .8s;
    }
    
    .top-section{
        grid-template-columns: repeat(2,1fr);
        height: fit-content;
        width: 100%;
    }
    .all-items{
        grid-template-columns:1fr 1fr;
        height: fit-content;
        width: 100%;
    }
    .top-section-left p{
        text-align: justify;
    }
    .top-section-left h1{
        font-size: 28px;
    }
    .top-section-right img{
       width: 250px;
       height: auto;
        top: 50pxpx;
        left: 0px;
    }

    .top-company{
        margin-top: 100px;
    }

    .title{
        display: flex;
        justify-content: center;
    }
    .companies{
        display: grid;
        grid-template-columns: repeat(3,1fr);
    }
    .company{
        margin-left: 8px;
    }

    .all-items{
        justify-items: center;
    }
}

@keyframes imgSclaing {
    0%{
        transform: scale(1);
    }
    25%{
        transform: scale(1.25);
    }
    50%{
        transform: scale(1);
    }
    75%{
        transform: scale(1.25);
    }
    100%{
        transform: scale(1);
    }
}
